.form-control {
    font-size: 0.9375rem;
    color: var(--color-muted);
    border: 1px solid var(--bg-body);
    background-color: var(--bg-body);
    border-radius: var(--radius-sm);
    padding: 0.625rem 1rem;
    
    &:focus {
        color: var(--color-base);
        border-color: var(--border-color);
        background-color: var(--bg-secondary);
        -webkit-box-shadow: inset 0 0 20px rgb(16 16 44/10%);
        box-shadow: inset 0 0 20px rgb(16 16 44/10%);
    }
    
    &::-webkit-input-placeholder {
        color: var(--color-muted);
        opacity: 1;
    }
    
    &::-moz-placeholder {
        color: var(--color-muted);
        opacity: 1;
    }
    
    &:-ms-input-placeholder {
        color: var(--color-muted);
        opacity: 1;
    }
    
    &::-ms-input-placeholder {
        color: var(--color-muted);
        opacity: 1;
    }
    
    &:focus::-webkit-input-placeholder {
        color: var(--color-secondary);
        opacity: 1;
    }
    
    &:focus::-moz-placeholder {
        color: var(--color-secondary);
        opacity: 1;
    }
    
    &:focus:-ms-input-placeholder {
        color: var(--color-secondary);
        opacity: 1;
    }
    
    &:focus::-ms-input-placeholder {
        color: var(--color-secondary);
        opacity: 1;
    }
    
    &:disabled {
        background-color: var(--bg-light);
        opacity: 1;
        color: var(--color-secondary);
    }
}

.flex-avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 50%;
    
    img {
        border-radius: inherit;
        width: 100%;
        height: inherit;
    }
} 