.list {
    padding-left: 0;
    padding-right: 0;
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    
    &.block .list-content {
        padding: 1rem;
    }
}

.list-content {
    padding: 1rem 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.list-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.list-title {
    font-size: 0.875rem;
    line-height: 1.4285714286;
    display: block;
    color: inherit;
}

.list-goto {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.list-grid {
    > div {
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        
        .list-item {
            -ms-flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
        }
    }
    
    &.list-grid-padding {
        .list-item {
            padding: 1rem;
            border-radius: var(--radius-sm);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            
            &:hover {
                -webkit-box-shadow: inset 0 0 40px rgb(16 16 44/10%);
                box-shadow: inset 0 0 40px rgb(16 16 44/10%);
                background: var(--bg-secondary);
            }
            
            .media {
                border-radius: inherit;
            }
        }
        
        .list-content {
            padding: 0 0 0 1rem;
        }
    }
}

.list-item .drop-favorite {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.list-item:hover .drop-favorite,
.list-item .drop-favorite:focus-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media (max-width: 767.98px) {
    .list-grid.list-grid-padding {
        .list-item {
            padding: 0.625rem;
        }
        
        .list-content {
            padding: 0 0 0 0.75rem;
        }
    }
}

.list-row {
    .list-item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        padding: 0.75rem 0;
        
        &:first-child {
            padding-top: 0;
        }
        
        .list-content {
            padding: 0.125rem 0 0.125rem;
        }
    }
}

.list-bordered {
    .list-item {
        border-top: 1px solid rgba(135, 150, 165, 0.075);
        margin-top: -1px;
        
        &:first-child {
            border-top: none;
        }
    }
}

.list-number {
    .list-item {
        counter-increment: my;
        
        &:before {
            content: counter(my);
            display: block;
            font-family: Manrope, Arial, sans-serif;
            color: var(--color-muted);
            text-align: center;
            width: 25px;
            height: 25px;
            line-height: 21px;
            border-radius: 20px;
            -ms-flex-negative: 0;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            margin-right: 0.5rem;
            border: 2px solid var(--border-muted);
        }
        
        &:nth-child(1):before {
            color: #ff4545;
            border-color: #ff4545;
        }
        
        &:nth-child(2):before {
            color: #ff8988;
            border-color: #ff8988;
        }
        
        &:nth-child(3):before {
            color: #ffabaa;
            border-color: #ffabaa;
        }
    }
}

.h-1x {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
} 
