.media {
    position: relative;
    display: block;
    padding: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-radius: inherit;
    overflow: hidden;
    
    &:after {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

.media-content {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.w-16 {
    width: 16px !important;
    height: 16px !important;
}

.w-36 {
    width: 36px !important;
    height: 36px !important;
    font-size: 0.875em;
} 