.pagination {
    position: relative;
    display: block;
    text-align: center;
    margin: 2.5rem 0 1rem;
    
    .nav-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.page-numbers {
    display: inline-block;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 2px;
    text-align: center;
    color: var(--color-muted);
    border-radius: var(--radius-xs);
    background-color: transparent;
    -webkit-transition: all .25s;
    transition: all .25s;
    
    &:hover, &.current {
        color: #fff;
        background-color: var(--color-primary);
    }
    
    &.current, &.prev, &.next {
        display: inline-block;
    }
    
    &.prev, &.next {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 767.98px) {
    .pagination {
        margin: 2rem 0 0;
    }
    
    .page-numbers {
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: var(--radius-xs);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .pagination {
        margin: 1.5rem 0 0;
    }
    
    .page-numbers {
        min-width: 35px;
        height: 35px;
        line-height: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .pagination {
        margin: 1.5rem 0 0;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .pagination {
        margin: 2rem 0 0;
    }
} 