.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.hover {
    overflow-y: auto;
    overflow: visible;

    &:hover,
    &:focus,
    &:active {
      overflow: visible;
      overflow-y: auto;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(42 44 66/0%);
    box-shadow: inset 0 0 6px rgb(42 44 66/0%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(47 47 51/30%);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1760px !important;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: none !important;
  }
}