.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    &.hover {
        overflow-y: auto;
        overflow: visible;
        
        &:hover, &:focus, &:active {
            overflow: visible;
            overflow-y: auto;
        }
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1280px;
    }
} 