http://*:80 {
	root * /var/www/html/typecho
	encode gzip
	@disallowed {
		path_regexp forbidden_files "^/(\.user\.ini|\.htaccess|\.git|\.svn|\.project|LICENSE.*|README.*)$"
	}
	rewrite @disallowed /index.php

	php_fastcgi php-fpm:9000
	file_server {
		index index.html
	}
}