*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h3,
h4,
p,
blockquote,
code,
img,
li,
ul,
form {
    border: none;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    margin: 0;
    padding: 0;
}

blockquote {

    &:before,
    &:after {
        content: "";
    }
}

html {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: smooth;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote {
    padding: 1rem 1.25rem;
    margin: 1.5rem 0;
    background-color: var(--bg-secondary);
    border-radius: var(--radius-sm);
    border: 1px solid var(--bg-body);
    color: inherit;

    i {
        font-style: normal;
    }
}

code {
    font-size: inherit;
    border-radius: var(--radius-xs);
}

iframe {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;

    &:focus {
        outline: 0;
    }
}

input {
    &::-webkit-input-placeholder {
        line-height: normal;
    }

    &:-ms-input-placeholder {
        line-height: normal;
    }

    &::-moz-placeholder {
        line-height: revert;
    }
}