.error-page {

    h1 {
        line-height: 1;
        color: #e5e5e5;
    }

    .text-secondary {
        color: rgb(0, 0, 0, 0.7) !important;
    }
    
}

[data-bs-theme=dark] .error-page {
    h1 {
        color: #303030;
    }

    .text-secondary {
        color: rgb(255, 255, 255, 0.6) !important;
    }
}

@media (min-width: 768px) {
    .error-page h1 {
        font-weight: 800;
        font-size: 10rem !important;
    }
}

@media (max-width: 767.98px) {
    .error-page h1 {
        font-weight: 700;
        font-size: 8rem !important;
    }
}
