.post-content {
    position: relative;
    font-size: 1rem;
    line-height: 2;

    a {

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    p {
        margin: 0 0 1.5rem;

        >a {
            border-bottom: 1px dashed var(--border-primary);
            -webkit-transition: 0.3s ease-in;
            transition: 0.3s ease-in;

            &:hover {
                border-bottom-style: solid;
            }
        }
    }

    h3 {
        margin: 2.5rem auto 1.5rem;
    }

    h4 {
        margin: 2.5rem auto 1.5rem;
    }

    ul {
        padding: 0 0 0 1.25rem;
        margin-bottom: 1.5rem;
        list-style: disc;
    }

    li {
        line-height: 1.5;
        margin: 0 0 1rem;
    }

    pre {
        background-color: var(--bs-tertiary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        padding: 1rem;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgb(42 44 66/0%);
            box-shadow: inset 0 0 6px rgb(42 44 66/0%);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgb(47 47 51/30%);
        }
    }
}

@media (max-width: 767.98px) {
    .post-content {
        h3 {
            margin: 2rem auto 1.25rem;
        }

        h4 {
            margin: 2rem auto 1.25rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .post-content {
        h3 {
            margin: 1rem auto 1rem;
        }

        h4 {
            margin: 1rem auto 1rem;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .post-content {
        h3 {
            margin: 1.5rem auto 1rem;
        }

        h4 {
            margin: 1.5rem auto 1rem;
        }
    }
}

@media (min-width: 1400px) {
    .post-heading {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-actions {
    a {
        position: relative;

        .num {
            position: absolute;
            right: -5px;
            top: -5px;
            font-family: Manrope, Arial, sans-serif;
            font-size: 0.75rem;
            line-height: 1;
            padding: 3px 7px;
            border-radius: 10px;
            background-image: -webkit-gradient(linear, left top, right top, from(#f77062), to(#fe5196));
            background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
            color: #fff;
        }
    }
}

.post-other-style {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .post-heading {
        max-width: 100%;
    }
}

.post-excerpt {
    margin: 0 0 1rem;
}

.post-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 1.5rem;

    a {
        display: inline-block;
        font-size: 0.8125rem;
        line-height: 1;
        padding: 0.375rem 1rem;
        margin: 0.25rem;
        border-radius: 3rem;
        background-color: var(--bg-secondary);
        border: 1px solid transparent;

        &:hover,
        &:focus {
            background-color: var(--bg-tertiary);
            border: 1px solid var(--border-color);
        }
    }
}

.index-sudoku {
    div .btn {
        color: #fff;
        background: -webkit-gradient(linear, left top, right top, from(#97b3ff), to(#2f66ff));
        background: linear-gradient(45deg, #97b3ff, #2f66ff);
    }
}

.align-items-center .h4 {
    margin-left: .5rem;
}
