$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

:root {
    --color-primary: #2f66ff;
    --color-dark: #2f2f33;
    --color-secondary: #555557;
    --color-muted: #828488;
    --color-light: #dbe0ea;
    --color-info: #6fcba1;
    --color-danger: #ff2f52;
    --color-warning: #ff7b2f;
    --base-color: #000000;
    --bg-base: #ffffff;
    --body-color: #212529;
    --bg-body: #f5f7fa;
    --secondary-color: #595c5f;
    --bg-secondary: #f5f7fa;
    --tertiary-color: #909294;
    --bg-tertiary: #f8f9fa;
    --emphasis-color: #000000;
    --border-color: #dee2e6;
    --radius-xs: 2px;
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 19px;
    --shadow-xs: 0 15px 30px 5px rgb(62 61 80/1%);
    --shadow-sm: 0 5px 30px 5px rgb(62 61 80/1%);
    --shadow-md: 0 0 20px 5px rgb(62 61 80/2%);
    --shadow-lg: 0 10px 40px 5px rgb(62 61 80/10%);
}

[data-bs-theme=dark] {
    --color-light: #dbe0ea;
    --base-color: #ffffff;
    --bg-base: #191919;
    --body-color: #c7cbd4;
    --bg-body: #212121;
    --secondary-color: #a5a8af;
    --bg-secondary: #272727;
    --tertiary-color: #71767a;
    --bg-tertiary: #2f2f33;
    --emphasis-color: #827b7b;
    --border-color: #343434;
}
