:root {
    --color-primary:#2f66ff;
    --color-dark:#2f2f33;
    --color-secondary:#555557;
    --color-muted:#828488;
    --color-light:#dbe0ea;
    --color-info:#6fcba1;
    --color-danger:#ff2f52;
    --color-warning:#ff7b2f;
    --base-color:#000000;
    --bg-base:#ffffff;
    --body-color:#212529;
    --bg-body:#f5f7fa;
    --secondary-color:#595c5f;
    --bg-secondary:#f5f7fa;
    --tertiary-color:#909294;
    --bg-tertiary:#f8f9fa;
    --emphasis-color:#000000;
    --border-color:#dee2e6;
    --radius-xs:2px;
    --radius-sm:6px;
    --radius-md:10px;
    --radius-lg:19px;
    --shadow-xs:0 15px 30px 5px rgb(62 61 80/1%);
    --shadow-sm:0 5px 30px 5px rgb(62 61 80/1%);
    --shadow-md:0 0 20px 5px rgb(62 61 80/2%);
    --shadow-lg:0 10px 40px 5px rgb(62 61 80/10%);
}
[data-bs-theme=dark] {
    --color-light:#dbe0ea;
    --base-color:#ffffff;
    --bg-base:#191919;
    --body-color:#c7cbd4;
    --bg-body:#212121;
    --secondary-color:#a5a8af;
    --bg-secondary:#272727;
    --tertiary-color:#71767a;
    --bg-tertiary:#2f2f33;
    --emphasis-color:#827b7b;
    --border-color:#343434;
}
*,*:before,*:after {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,body {
    border:none;
    margin:0;
    padding:0;
}
h1,h3,h4,p,blockquote,code,img,li,ul,form {
    border:none;
    font-size:inherit;
    line-height:inherit;
    text-align:inherit;
    margin:0;
    padding:0;
}
blockquote:before,blockquote:after {
    content:"";
}
html {
    scroll-behavior:smooth;
}
@media (prefers-reduced-motion:reduce) {
    html {
        scroll-behavior:smooth;
    }
}body {
     font-family:-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,Arial,sans-serif;
     font-size:0.875rem;
     color:var(--body-color);
     background-color:var(--bg-body);
     text-rendering:optimizeLegibility;
     -webkit-font-smoothing:antialiased;
     -webkit-tap-highlight-color:rgba(0,0,0,0);
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
 }
p {
    line-height:inherit;
}
@media (prefers-reduced-motion:reduce) {
    *{-webkit-animation-duration:0s !important;
        animation-duration:0s !important;
        -webkit-transition-duration:0s !important;
        -o-transition-duration:0s !important;
        transition-duration:0s !important;
    }
}a {
     color:var(--color-body);
     text-decoration:none;
     -webkit-transition:color 0.25s;
     -o-transition:color 0.25s;
     transition:color 0.25s;
 }
a:hover,a:active,a:focus,a:not([href]),a:not([href]):hover {
    text-decoration:none;
}
i {
    font-style:normal;
}
b,strong {
    font-weight:500;
}
.h4,h1,h3,h4 {
    font-weight:500;
    margin:0;
}
h1 {
    font-size:2.5rem !important;
    line-height:1.4;
}
h3 {
    font-size:1.5rem !important;
}
h4,.h4 {
    font-size:1.25rem !important;
    line-height:1.4;
}
@media (max-width:767.98px) {
    h1 {
        font-size:1.625rem !important;
    }
    h3 {
        font-size:1.375rem !important;
    }
    h4,.h4 {
        font-size:1.25rem !important;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    h1 {
        font-size:1.875rem !important;
    }
    h3 {
        font-size:1.375rem !important;
    }
    h4,.h4 {
        font-size:1.25rem !important;
    }
}@media (min-width:992px) and (max-width:1199.98px) {
    h1 {
        font-size:2rem !important;
    }
    h3 {
        font-size:1.5rem !important;
    }
    h4,.h4 {
        font-size:1.25rem !important;
    }
}input {
     font-family:initial;
     line-height:1;
 }
@supports (font-variation-settings:normal) {
    input {
        font-family:initial;
    }
}input {
     border-color:var(--border-color);
     color:var(--text-dark);
 }
code {
    direction:ltr;
}
input[type="text"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    outline:0;
}
input::-webkit-input-placeholder {
    line-height:normal;
}
input:-ms-input-placeholder {
    line-height:normal;
}
input::-moz-placeholder {
    line-height:revert;
}
input[type="text"]:focus {
    outline:0;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
blockquote {
    padding:1rem 1.25rem;
    margin:1.5rem 0;
    background-color:var(--bg-secondary);
    border-radius:var(--radius-sm);
    border:1px solid var(--bg-body);
    color:inherit;
}
blockquote i {
    font-style:normal;
}
code {
    font-size:inherit;
}
code {
    border-radius:var(--radius-xs);
}
iframe {
    max-width:100%;
}
img {
    height:auto;
    max-width:100%;
}
.w-16 {
    width:16px !important;
    height:16px !important;
}
.w-36 {
    width:36px !important;
    height:36px !important;
    font-size:0.875em;
}
.scrollable {
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
}
.scrollable.hover {
    overflow-y:auto;
    overflow:visible;
}
.scrollable.hover:hover,.scrollable.hover:focus,.scrollable.hover:active {
    overflow:visible;
    overflow-y:auto;
}
.text-xx {
    font-size:0.75rem !important;
}
.text-xs {
    font-size:0.8125rem !important;
}
.text-sm {
    font-size:0.875rem !important;
}
.text-md {
    font-size:1rem !important;
}
@media (max-width:767.98px) {
    .text-xx {
        font-size:0.75rem !important;
    }
    .text-xs {
        font-size:0.8125rem !important;
    }
    .text-sm {
        font-size:0.875rem !important;
    }
    .text-md {
        font-size:1rem !important;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .text-xx {
        font-size:0.75rem !important;
    }
    .text-xs {
        font-size:0.8125rem !important;
    }
    .text-sm {
        font-size:0.875rem !important;
    }
    .text-md {
        font-size:1rem !important;
    }
}.iconfont {
     display:inline-block;
     vertical-align:middle;
     line-height:normal;
 }
@media (min-width:1400px) {
    .container {
        max-width:1280px;
    }
}.text-muted {
     color:var(--color-muted) !important;
 }
.text-light {
    color:var(--color-light) !important;
}
.btn {
    border-radius:var(--radius-sm);
    padding:0.5rem 1.625rem;
    font-size:0.9375rem;
    border-color:var(--border-color);
    background-color:var(--bg-base);
    color:var(--color-body);
}
.btn:hover,.btn:focus,.btn:active,.btn.active {
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    color:var(--color-primary);
    background-color:var(--bg-secondary);
    i {
        color:var(--color-primary);
    }
}.btn.disabled,.btn:disabled {
     color:var(--color-muted);
     border-color:var(--border-color);
     background-color:var(--bg-body);
 }
.btn-primary {
    background-color:var(--color-primary);
    border-color:var(--border-color);
    color:var(--color-light);
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
    background-color:var(--color-primary);
    color:#fff;
}
.btn-link {
    color:var(--color-muted);
    text-decoration:none;
    background-color:transparent;
    border-color:transparent;
}
.btn-link:hover,.btn-link:focus,.btn-link.active,.btn-link:active {
    color:var(--color-primary);
}
.btn-link.active i,.btn-link:active i {
    color:#fff;
}
.btn-link:disabled {
    color:var(--color-muted);
    border-color:var(--border-color);
    background-color:var(--bg-body);
}
.btn-sm {
    font-size:0.875rem;
    padding:0.3125rem 1.25rem;
}
.btn-lg {
    padding:0.75rem 2.5rem;
    font-size:1rem;
}
.btn-block {
    display:block;
    width:100%;
    padding-left:0.75rem;
    padding-right:0.75rem;
}
.btn-rounded {
    border-radius:4rem;
    padding-left:1.75rem;
    padding-right:1.75rem;
}
@media (max-width:767.98px) {
    .btn-sm {
        padding:0.3125rem 1rem 0.25rem;
        border-radius:var(--radius-xs);
    }
    .btn-rounded {
        border-radius:4rem;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .btn-sm {
        border-radius:var(--radius-xs);
    }
    .btn-rounded {
        border-radius:4rem;
    }
}.btn-icon {
     text-align:center;
     width:2.125rem;
     height:2.125rem;
     padding:0 !important;
     position:relative;
     font-size:1.125rem;
     -ms-flex-negative:0;
     -webkit-flex-shrink:0;
     flex-shrink:0;
 }
.btn-icon span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
}
.btn-icon.btn-md {
    font-size:1.5rem;
    width:3rem;
    height:3rem;
}
.btn-icon.btn-lg {
    font-size:1.5rem;
    width:3.125rem;
    height:3.125rem;
}
.btn-icon.btn-block {
    width:100%;
}
.form-control {
    font-size:0.9375rem;
    color:var(--color-muted);
    border:1px solid var(--bg-body);
    background-color:var(--bg-body);
    border-radius:var(--radius-sm);
    padding:0.625rem 1rem;
}
.form-control:focus {
    color:var(--color-base);
    border-color:var(--border-color);
    background-color:var(--bg-secondary);
    -webkit-box-shadow:inset 0 0 20px rgb(16 16 44/10%);
    box-shadow:inset 0 0 20px rgb(16 16 44/10%);
}
.form-control::-webkit-input-placeholder {
    color:var(--color-muted);
    opacity:1;
}
.form-control::-moz-placeholder {
    color:var(--color-muted);
    opacity:1;
}
.form-control:-ms-input-placeholder {
    color:var(--color-muted);
    opacity:1;
}
.form-control::-ms-input-placeholder {
    color:var(--color-muted);
    opacity:1;
}
.form-control:focus::-webkit-input-placeholder {
    color:var(--color-secondary);
    opacity:1;
}
.form-control:focus::-moz-placeholder {
    color:var(--color-secondary);
    opacity:1;
}
.form-control:focus:-ms-input-placeholder {
    color:var(--color-secondary);
    opacity:1;
}
.form-control:focus::-ms-input-placeholder {
    color:var(--color-secondary);
    opacity:1;
}
.form-control:disabled {
    background-color:var(--bg-light);
    opacity:1;
    color:var(--color-secondary);
}
.flex-avatar {
    position:relative;
    line-height:1;
    border-radius:500px;
    white-space:nowrap;
    font-weight:700;
    border-radius:100%;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -ms-flex-align:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -ms-flex-negative:0;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    border-radius:50%;
}
.flex-avatar img {
    border-radius:inherit;
    width:100%;
    height:inherit;
}
.media {
    position:relative;
    display:block;
    padding:0;
    -ms-flex-negative:0;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    border-radius:inherit;
    overflow:hidden;
}
.media:after {
    content:"";
    display:block;
    padding-top:100%;
}
.media-content {
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border:0;
    border-radius:inherit;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
}
.card,.block {
    border:0;
    border-radius:var(--radius-md);
    -webkit-box-shadow:var(--shadow-sm);
    box-shadow:var(--shadow-sm);
    background:var(--bg-base);
}
.card-header {
    background-color:transparent;
    border-width:0;
}
.card-header {
    padding:1.25rem 1.25rem 0;
    margin:0 0 -0.5rem;
}
.card-header {
    position:relative;
    font-size:1.625rem;
    margin:0 0.5rem 0 0;
    top:-0.02em;
}
.card-body {
    padding:1.25rem;
}
.card-body .index-sudoku {
    overflow-x:hidden;
}
.card-xl .card-header {
    padding:1.75rem 1.75rem 0;
    margin:0 0 -0.5rem;
}
.card-xl .card-body {
    padding:1.75rem;
}
@media (max-width:767.98px) {
    .card-header {
        padding:1rem 1rem 0;
        margin:0 0 -0.125rem;
    }
    .card-body {
        padding:1rem;
    }
    .card-xl .card-header {
        padding:1.125rem 1.125rem 0;
        margin:0 0 -0.375rem;
    }
    .card-xl .card-body {
        padding:1.125rem;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .card-header {
        padding:1.25rem 1.25rem 0;
        margin:0 0 -0.4375rem;
    }
    .card-body {
        padding:1.25rem;
    }
    .card-xl .card-header {
        padding:1.25rem 1.25rem 0;
        margin:0 0 -0.25rem;
    }
    .card-xl .card-body {
        padding:1.25rem;
    }
}@media (min-width:992px) and (max-width:1199.98px) {
    .card-header {
        padding:1.375rem 1.375rem 0;
        margin:0 0 -0.4375rem;
    }
    .card-body {
        padding:1.375rem;
    }
    .card-xl .card-header {
        padding:1.125rem 1.125rem 0;
        margin:0 0 -0.25rem;
    }
    .card-xl .card-body {
        padding:1.125rem;
    }
}@media (min-width:1400px) {
    .post .card {
        padding:2em 3em;
    }
}.list {
     padding-left:0;
     padding-right:0;
 }
.list-item {
    position:relative;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
}
.list-content {
    padding:1rem 0;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    flex-direction:column;
    -ms-flex:1 1 auto;
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
}
.list-item.block .list-content {
    padding:1rem;
}
.list-body {
    -ms-flex:1 1 auto;
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
}
.list-title {
    font-size:0.875rem;
    line-height:1.4285714286;
    display:block;
    color:inherit;
}
.list-goto {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
}
.list-grid > div {
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
}
.list-grid > div .list-item {
    -ms-flex-direction:row;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
}
.list-grid.list-grid-padding .list-item {
    padding:1rem;
    border-radius:var(--radius-sm);
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
}
.list-grid.list-grid-padding .list-item:hover {
    -webkit-box-shadow:inset 0 0 40px rgb(16 16 44/10%);
    box-shadow:inset 0 0 40px rgb(16 16 44/10%);
    background:var(--bg-secondary);
}
.list-grid.list-grid-padding .list-item .media {
    border-radius:inherit;
}
.list-grid.list-grid-padding .list-content {
    padding:0 0 0 1rem;
}
@media (max-width:767.98px) {
    .list-grid.list-grid-padding .list-item {
        padding:0.625rem;
    }
    .list-grid.list-grid-padding .list-content {
        padding:0 0 0 0.75rem;
    }
}.list-row .list-item {
     -webkit-box-orient:horizontal;
     -webkit-box-direction:normal;
     -ms-flex-direction:row;
     -webkit-flex-direction:row;
     flex-direction:row;
     padding:0.75rem 0;
 }
.list-row .list-item:first-child {
    padding-top:0;
}
.list-row .list-item .list-content {
    padding:0.125rem 0 0.125rem;
}
.list-bordered .list-item {
    border-top:1px solid rgba(135,150,165,0.075);
    margin-top:-1px;
}
.list-bordered .list-item:first-child {
    border-top:none;
}
.list-number .list-item {
    counter-increment:my;
}
.list-number .list-item:before {
    content:counter(my);
    display:block;
    font-family:Manrope,Arial,sans-serif;
    color:var(--color-muted);
    text-align:center;
    width:25px;
    height:25px;
    line-height:21px;
    border-radius:20px;
    -ms-flex-negative:0;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    margin-right:0.5rem;
    border:2px solid var(--border-muted);
}
.list-number .list-item:nth-child(1):before {
    color:#ff4545;
    border-color:#ff4545;
}
.list-number .list-item:nth-child(2):before {
    color:#ff8988;
    border-color:#ff8988;
}
.list-number .list-item:nth-child(3):before {
    color:#ffabaa;
    border-color:#ffabaa;
}
.h-1x {
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    word-break:break-all;
}
.site-header {
    position:fixed;
    z-index:99;
    top:0;
    right:0;
    left:0;
    padding-left:260px;
    -webkit-box-shadow:var(--shadow-xs);
    box-shadow:var(--shadow-xs);
    background:var(--bg-base);
}
.site-wrapper {
    position:relative;
    padding-left:260px;
}
.site-main {
    margin-top:96px;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.site-footer {
    padding-top:3rem;
    padding-bottom:2rem;
}
@media (max-width:767.98px) {
    .site-main {
        margin-top:75px;
    }
    .site-footer {
        padding-top:2rem;
        padding-bottom:2rem;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .site-main {
        margin-top:95px;
    }
}@media (min-width:768px) and (max-width:1199.98px) {
    .site-main {
        margin-top:95px;
    }
}@media (max-width:1199.98px) {
    .site-header,.site-wrapper {
        padding-left:0;
    }
}@media (min-width:1200px) and (max-width:1399.98px) {
    .site-header,.site-wrapper {
        padding-left:220px;
    }
}.navbar {
     padding:0;
 }
.navbar-expand-lg > .container-fluid {
    height:75px;
}
@media (max-width:767.98px) {
    .navbar-expand-lg > .container-fluid {
        height:55px;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .navbar-expand-lg > .container-fluid {
        height:55px;
    }
}@media (min-width:992px) and (max-width:1199.98px) {
    .navbar-expand-lg > .container-fluid {
        height:65px;
    }
}.navbar-brand {
     max-width:200px;
     padding:0;
     margin:0;
     -ms-flex-negative:0;
     -webkit-flex-shrink:0;
     flex-shrink:0;
 }
.navbar-brand img {
    max-height:40px;
}
@media (max-width:767.98px) {
    .navbar-brand {
        max-width:150px;
    }
    .navbar-brand img {
        max-height:45px;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .navbar-brand {
        max-width:150px;
    }
    .navbar-brand img {
        max-height:45px;
    }
}@media (min-width:992px) and (max-width:1199.98px) {
    .navbar-brand {
        max-width:150px;
    }
    .navbar-brand img {
        max-height:45px;
    }
}.navbar-site li {
     position:relative;
     margin:0 0 0 0.5rem;
 }
.navbar-site li a {
    display:block;
    opacity:0.6;
    -webkit-transition:all 0.25s ease-out 0s;
    transition:all 0.25s ease-out 0s;
}
.navbar-site li a:hover {
    opacity:1;
}
.navbar-site li a {
    position:relative;
    font-size:0.9375rem;
    padding:1rem;
}
.site-aside {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:260px;
    height:100%;
    height:100%;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    -webkit-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-transform-origin:left;
    transform-origin:left;
    overflow:visible;
    z-index:100;
    -webkit-box-shadow:5px 0 10px 0 rgb(47 47 51/2%);
    box-shadow:5px 0 10px 0 rgb(47 47 51/2%);
    -webkit-transform:translateX(-100%) translateY(0) translateZ(0);
    transform:translateX(-100%) translateY(0) translateZ(0);
    background-color:var(--bg-base);
}
.site-aside .aside-brand {
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    -ms-flex-negative:0;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    height:75px;
    padding:0 1.5rem;
}
.site-aside .aside-brand img {
    max-width:210px;
    max-height:45px;
}
.site-aside .aside-brand .logo-sm {
    display:none;
}
.site-aside .aside-wrapper {
    pointer-events:inherit;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    flex-direction:column;
    height:100%;
}
.site-aside .aside-scroll {
    position:relative;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
}
.site-aside .aside-menu {
    padding:0.25rem 0.75rem;
}
.site-aside .aside-menu li {
    position:relative;
}
.site-aside .aside-menu > li {
    margin:0.5rem 0;
}
.site-aside .aside-menu > li.current-menu-item,.site-aside .aside-menu > li.in {
    background-color:var(--bg-light);
    border-radius:var(--radius-sm);
}
.site-aside .aside-menu li a {
    position:relative;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    -ms-flex-wrap:nowrap;
    -webkit-flex-wrap:nowrap;
    flex-wrap:nowrap;
    padding:0.375rem 0.75rem;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
    opacity:0.6;
}
.site-aside .aside-menu li a:hover {
    opacity:1;
}
.site-aside .aside-menu > li.current-menu-item > a {
    color:var(--color-primary);
    opacity:1;
}
.site-aside .aside-menu > li > ul {
    display:none;
    padding-left:48px;
    padding-bottom:10px;
}
.site-aside .aside-menu > li.current-menu-parent > ul {
    display:block;
}
.site-aside .aside-menu li > ul li {
    padding-top:0;
    padding-bottom:0;
}
.site-aside .aside-menu li > ul li a {
    padding-left:0;
    padding-right:0;
}
.site-aside .aside-menu li > ul li.current-menu-item a {
    color:var(--color-primary);
    opacity:1;
}
.site-aside .aside-menu li a .menu-icon {
    position:relative;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -ms-flex-pack:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -ms-flex-align:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -ms-flex-negative:0;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    top:-1px;
    width:2.25rem;
    height:2.25rem;
    font-size:1.375rem;
    opacity:0.65;
}
.site-aside .aside-menu li a .menu-text {
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    overflow:hidden;
    font-size:0.9375rem;
}
.site-aside .aside-menu li .menu-sign {
    position:absolute;
    right:15px;
    top:17px;
    color:var(--color-muted);
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
.site-aside .aside-menu li.in > a > .menu-sign,.site-aside .aside-menu li.current-menu-item > a > .menu-sign {
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.site-aside .aside-menu li ul li .menu-sign {
    top:8px;
}
.site-aside .aside-menu li ul li.in > a > .menu-sign,.site-aside .aside-menu li ul li.current-menu-item > a > .menu-sign {
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.site-aside .scrollable {
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
}
.site-aside .scrollable.hover {
    overflow-y:hidden;
}
.site-aside .scrollable.hover:hover,.site-aside .scrollable.hover:focus,.site-aside .scrollable.hover:active {
    overflow:visible;
    overflow-y:auto;
}
.site-aside .scrollable::-webkit-scrollbar {
    width:6px;
}
.site-aside .scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgb(42 44 66/0%);
    box-shadow:inset 0 0 6px rgb(42 44 66/0%);
    border-radius:10px;
}
.site-aside .scrollable::-webkit-scrollbar-thumb {
    border-radius:10px;
    background-color:rgb(47 47 51/30%);
}
@media (max-width:1198.98px) {
    .site-aside .scrollable.hover {
        overflow-y:auto;
    }
    .menu-collasped-active .site-aside {
        -webkit-transform:translateX(0) translateY(0) translateZ(0);
        transform:translateX(0) translateY(0) translateZ(0);
    }
}@media (min-width:1200px) {
    .site-aside {
        -webkit-transform:translateX(0) translateY(0) translateZ(0);
        transform:translateX(0) translateY(0) translateZ(0);
    }
    .menu-collasped-active .site-header,.menu-collasped-active.site-wrapper {
        padding-left:100px;
    }
    .menu-collasped-active .folded .aside-brand {
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        -webkit-justify-content:center;
        justify-content:center;
    }
    .menu-collasped-active .folded .aside-brand .logo {
        display:none;
    }
    .menu-collasped-active .folded .aside-brand .logo-sm {
        display:block;
    }
    .menu-collasped-active .folded {
        width:100px;
    }
    .menu-collasped-active .folded .aside-menu li .menu-text {
        display:none;
    }
    .menu-collasped-active .folded .aside-menu li .menu-icon {
        margin-left:auto;
        margin-right:auto;
    }
    .menu-collasped-active .folded .aside-menu li .menu-sign {
        display:none;
    }
    .menu-collasped-active .folded .aside-menu li .sub-menu {
        display:none;
        height:0;
        padding-bottom:0;
    }
    .sidemenu-hover-active .folded {
        width:240px;
    }
    .sidemenu-hover-active .folded .aside-brand {
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        -webkit-justify-content:start;
        justify-content:start;
    }
    .sidemenu-hover-active .folded .aside-brand .logo {
        display:block;
    }
    .sidemenu-hover-active .folded .aside-brand .logo-sm {
        display:none;
    }
    .sidemenu-hover-active .folded .aside-menu li .menu-text,.sidemenu-hover-active .folded .aside-menu li .menu-icon,.sidemenu-hover-active .folded .aside-menu li .menu-sign {
        display:block;
    }
    .sidemenu-hover-active .folded .aside-menu li.current-menu-parent .sub-menu,.sidemenu-hover-active .folded .aside-menu li.in .sub-menu {
        display:inherit;
        height:auto;
        padding-bottom:10px;
    }
}@media (min-width:1200px) and (max-width:1399.98px) {
    .site-aside {
        width:220px;
    }
    .site-aside .aside-brand img {
        max-width:170px;
    }
}.post-content {
     position:relative;
     font-size:1rem;
     line-height:2;
 }
.post-content a:hover,.post-content a:focus {
    text-decoration:none;
}
.post-content p {
    margin:0 0 1.5rem;
}
.post-content h3 {
    margin:2.5rem auto 1.5rem;
}
.post-content h4 {
    margin:2.5rem auto 1.5rem;
}
@media (max-width:767.98px) {
    .post-content h3 {
        margin:2rem auto 1.25rem;
    }
    .post-content h4 {
        margin:2rem auto 1.25rem;
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .post-content h3 {
        margin:1rem auto 1rem;
    }
    .post-content h4 {
        margin:1rem auto 1rem;
    }
}@media (min-width:992px) and (max-width:1199.98px) {
    .post-content h3 {
        margin:1.5rem auto 1rem;
    }
    .post-content h4 {
        margin:1.5rem auto 1rem;
    }
}@media (min-width:1400px) {
    .post-heading {
        max-width:80%;
        margin-left:auto;
        margin-right:auto;
    }
}.post-content p > a {
     border-bottom:1px dashed var(--border-primary);
     -webkit-transition:0.3s ease-in;
     transition:0.3s ease-in;
 }
.post-content p > a:hover {
    border-bottom-style:solid;
}
.post-content a:hover,.post-content a:focus {
    text-decoration:none;
}
.post-related .related-header {
    position:relative;
    padding:0 0 0 4rem;
    margin:0.5rem 0;
}
.post-related .related-icon {
    position:absolute;
    display:block;
    left:0;
    top:-15px;
    width:60px;
    height:60px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(../image/guess.png);
}
@media (max-width:767.98px) {
    .post-related .related-header {
        padding:0 0 0 2.5rem;
        margin:0.25rem 0;
    }
    .post-related .related-icon {
        top:-5px;
        width:40px;
        height:40px;
    }
}.post-actions a {
     position:relative;
 }
.post-actions a .num {
    position:absolute;
    right:-5px;
    top:-5px;
    font-family:Manrope,Arial,sans-serif;
    font-size:0.75rem;
    line-height:1;
    padding:3px 7px;
    border-radius:10px;
    background-image:-webkit-gradient(linear,left top,right top,from(#f77062),to(#fe5196));
    background-image:linear-gradient(to right,#f77062 0%,#fe5196 100%);
    color:#fff;
}
.post-other-style {
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
.post-other-style .post-heading {
    max-width:100%;
}
.post-excerpt {
    position:relative;
    padding:0 0 0 4rem;
    margin:0 0 1rem;
}
.post-excerpt .excerpt-icon {
    position:absolute;
    display:block;
    left:0;
    top:-15px;
    width:60px;
    height:60px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(../image/quote.png);
}
.post-tags {
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 0 1.5rem;
}
.post-tags a {
    display:inline-block;
    font-size:0.8125rem;
    line-height:1;
    padding:0.375rem 1rem;
    margin:0.25rem;
    border-radius:3rem;
    background-color:var(--bg-secondary);
    border:1px solid transparent;
}
.post-tags a:hover,.post-tags a:focus {
    background-color:var(--bg-tertiary);
    border:1px solid var(--border-color);
}
@media (max-width:992px) {
    .hot-rank {
        display:none;
    }
    .index-sudoku {
        max-height:16rem;
        overflow:scroll;
    }
}.search-block .search-tab {
     display:-webkit-box;
     display:-ms-flexbox;
     display:-webkit-flex;
     display:flex;
     -ms-flex-wrap:wrap;
     -webkit-flex-wrap:wrap;
     flex-wrap:wrap;
 }
.search-block .search-tab a {
    margin:0 0.5rem 0.5rem 0;
}
.search-block .search-tab a.btn-link:active:focus,.search-block .search-tab a.btn-link:focus,.search-block .search-tab a.btn-link.active {
    background-color:var(--color-primary);
    border-color:var(--border-color);
    color:#fff !important;
}
@media (max-width:767.98px) {
    .search-block .search-tab {
        position:relative;
        overflow-x:auto;
        -webkit-overflow-scrolling:touch;
        -ms-flex-wrap:nowrap;
        -webkit-flex-wrap:nowrap;
        flex-wrap:nowrap;
        margin:0 0 0.375rem;
    }
    .search-block .search-tab::-webkit-scrollbar {
        display:none;
    }
    .search-block .search-tab a {
        -ms-flex-negative:0;
        -webkit-flex-shrink:0;
        flex-shrink:0;
        font-size:0.6875rem;
        margin:0 0.25rem 0.25rem 0;
        padding:0.25rem 0.75rem;
    }
}.site-fixedmenu {
     position:fixed;
     bottom:100px;
     right:30px;
     z-index:999;
 }
.site-fixedmenu .btn-start {
    background-color:rgb(22 22 24/70%);
    color:#fff;
    -webkit-transition:all 0.25s;
    transition:all 0.25s;
}
.site-fixedmenu .btn-start:hover,.site-fixedmenu .btn-start:focus {
    background-color:rgb(22 22 24/90%);
    color:#fff !important;
}
.index-sudoku div .btn {
    color:#fff;
    background:-webkit-gradient(linear,left top,right top,from(#97b3ff),to(#2f66ff));
    background:linear-gradient(45deg,#97b3ff,#2f66ff);
}
.post-content ul {
    padding:0 0 0 1.25rem;
    margin-bottom:1.5rem;
}
.post-content ul {
    list-style:disc;
}
.post-content li {
    line-height:1.5;
    margin:0 0 1rem;
}
.align-items-center .h4 {
    margin-left:.5rem;
}
.modal-content {
    background-color:var(--bg-base);
    border-radius:var(--radius-md);
    box-shadow:var(--shadow-lg);
}
.dropdown-menu {
    background-color:var(--bg-base);
    border:1px solid var(--border-color);
    box-shadow:var(--shadow-lg);
}
.dropdown-item {
    color:var(--body-color);
}
.dropdown-item:hover,.dropdown-item:focus,.dropdown-item:active,.dropdown-item.active {
    background-color:var(--bg-secondary);
    color:var(--color-primary);
}
.timeline::before {
    content:'';
    position:absolute;
    top:0;
    left:calc(50% - 2px);
    height:100%;
    width:4px;
    background:var(--bg-body);
    border-radius:.25rem;
}
.timeline-element-icon {
    position:absolute;
    left:calc(50% - 12px);
}
.timeline-element-icon .badge-dot {
    width:24px;
    height:24px;
    position:relative;
    box-shadow:0 0 0 5px var(--bg-base);
}
.timeline-element-icon .badge-dot::before {
    content:'';
    width:10px;
    height:10px;
    border-radius:.25rem;
    position:absolute;
    left:50%;
    top:50%;
    margin:-5px 0 0 -5px;
}
.timeline-element {
    position:relative;
    margin:0 0 1rem;
}
.timeline-element-content .timeline-title {
    font-size:.8rem;
    text-transform:uppercase;
    margin-bottom:.5rem;
    font-weight:bold;
    color:var(--color-base);
}
.timeline-element-content .timeline-element-date {
    display:block;
    position:absolute;
    top:0;
    color:var(--secondary-color);
    font-size:.7619rem;
    white-space:nowrap;
}
.timeline-element-content:after {
    content:"";
    display:table;
    clear:both;
}
.timeline .timeline-element .timeline-element-content {
    position:relative;
    font-size:.8rem;
}
.timeline .timeline-element:nth-child(odd) .timeline-element-content {
    margin-left:calc(50% + 30px);
    text-align:left;
}
.timeline .timeline-element:nth-child(odd) .timeline-element-content .timeline-element-date {
    left:0;
    margin-left:-130px;
    text-align:right;
    padding-right:10px;
}
.timeline .timeline-element:nth-child(even) .timeline-element-content {
    margin-right:calc(50% + 30px);
    text-align:right;
}
.timeline .timeline-element:nth-child(even) .timeline-element-content .timeline-element-date {
    right:0;
    margin-right:-130px;
    text-align:left;
    padding-left:10px;
}
.pagination {
    position:relative;
    display:block;
    text-align:center;
    margin:2.5rem 0 1rem
}
.pagination .nav-links {
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center
}
.page-numbers {
    display:inline-block;
    min-width:35px;
    height:35px;
    line-height:35px;
    margin:2px;
    text-align:center;
    color:var(--color-muted);
    border-radius:var(--radius-xs);
    background-color:transparent;
    -webkit-transition:all .25s;
    transition:all .25s
}
.page-numbers:hover,.page-numbers.current {
    color:#fff;
    background-color:var(--color-primary)
}
.page-numbers.current,.page-numbers.prev,.page-numbers.next {
    display:inline-block
}
.page-numbers.prev,.page-numbers.next {
    display:inline-block;
    padding-left:1rem;
    padding-right:1rem
}
@media (max-width:767.98px) {
    .pagination {
        margin:2rem 0 0
    }
    .page-numbers {
        min-width:30px;
        height:30px;
        line-height:30px;
        border-radius:var(--radius-xs)
    }
}@media (min-width:768px) and (max-width:991.98px) {
    .pagination {
        margin:1.5rem 0 0
    }
    .page-numbers {
        min-width:35px;
        height:35px;
        line-height:35px
    }
}@media (min-width:992px) and (max-width:1199.98px) {
    .pagination {
        margin:1.5rem 0 0
    }
}@media (min-width:1200px) and (max-width:1399.98px) {
    .pagination {
        margin:2rem 0 0
    }
}
.nav .nav-link {
    color: var(--color-muted);
    position: relative;
}
.nav .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    border-radius: 10px;
    background: var(--color-primary);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.nav .nav-link.active:after,
.nav .nav-link:hover:after {
    width: 30%;
}
.nav .nav-link.active,
.nav .nav-link:hover {
    color: var(--base-color);
}
.error-page {
    h1 {
        line-height: 1;
        color: #e5e5e5;
    }
    .text-secondary {
        color: rgb(0, 0, 0, 0.7) !important;
    }

}
[data-bs-theme=dark] .error-page {
    h1 {
        color: #303030;
    }
    .text-secondary {
        color: rgb(255, 255, 255, 0.6) !important;
    }
}
@media (min-width:768px) {
    .error-page h1 {
        font-weight: 800;
        font-size: 10rem !important;
    }
}
@media (max-width:767.98px) {
    .error-page h1 {
        font-weight: 700;
        font-size: 8rem !important;
    }
}