.site-aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    overflow: visible;
    z-index: var(--bs-offcanvas-zindex);
    box-shadow: 5px 0 10px 0 rgb(47 47 51/2%);
    background-color: var(--bg-base);
    --bs-offcanvas-width: 260px;
    --bs-offcanvas-bg: var(--bg-base);

    .aside-brand {
        position: relative;
        flex-shrink: 0;

        img {
            max-width: 100%;
            height: auto;
        }

        .logo-sm {
            display: none;
        }
    }

    .aside-wrapper {
        pointer-events: inherit;
        height: 100%;
    }

    .aside-scroll {
        position: relative;
    }

    .aside-menu {
        li {
            position: relative;
        }


        li a {
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            transition: all 0.3s;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }

            .menu-text {
                flex: 1 1 auto;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 0.9375rem;
                transition: opacity 0.45s ease, max-width 0.45s ease, margin 0.45s ease;
            }
        }

        li .menu-sign {
            color: var(--color-muted);
            transition: all 0.3s ease;
        }

        .menu-item-has-children>a[aria-expanded="true"]>.menu-sign {
            transform: rotate(90deg);
        }
    }

    .menu-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        top: -1px;
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.375rem;
        opacity: 0.65;
    }

    .aside-brand .menu-icon {
        top: 0;
    }

}

@media (max-width: 1198.98px) {
    .site-aside .scrollable.hover {
        overflow-y: auto;
    }
}

@media (min-width: 1200px) {
    .site-aside {
        background-color: var(--bg-base) !important;
    }

    .menu-collasped-active {

        .site-header,
        &.site-wrapper {
            padding-left: 100px;
        }

        .folded {
            width: 100px;

            .aside-brand {
                justify-content: flex-start;

                .logo {
                    display: none;
                    opacity: 0;
                    width: 0;
                    margin: 0;
                    overflow: hidden;
                    transition: opacity 0.45s ease, width 0.45s ease, margin 0.45s ease;
                }

                .logo-sm {
                    display: block;
                    transition: opacity 0.45s ease;
                }
            }

            .aside-menu {
                li {
                    .menu-text {
                        opacity: 0;
                        max-width: 0;
                        margin: 0;
                        pointer-events: none;
                        flex: 0 0 0;
                    }

                    .menu-icon {
                        margin-left: auto;
                        margin-right: auto;
                        transition: margin 0.45s ease;
                    }

                    .menu-sign {
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity 0.45s ease;
                    }

                    .sub-menu {
                        display: none;
                        height: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .sidemenu-hover-active .folded {
        width: 240px;


        .aside-brand {
            justify-content: start;

            .logo {
                opacity: 1;
                width: auto;
                margin: 0;
            }

            .logo-sm {
                display: none;
            }
        }

        .aside-menu li {

            .menu-text {
                opacity: 1;
                max-width: 200px;
                margin: 0;
                pointer-events: auto;
                flex: 1 1 auto;
            }

            .menu-sign {
                opacity: 1;
                pointer-events: auto;
            }

            &.current-menu-parent .sub-menu {
                display: inherit;
                height: auto;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .site-aside {
        width: 220px;
        --bs-offcanvas-width: 220px;
    }
}