.site-wrapper {
    position: relative;
    padding-left: 260px;
}

.site-main {
    margin-top: 95px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 1199.98px) {
    .site-wrapper {
        padding-left: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .site-wrapper {
        padding-left: 220px;
    }
}

.site-fixedmenu {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 999;

    .btn-start {
        background-color: rgb(22 22 24/70%);
        color: #fff;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;

        &:hover,
        &:focus {
            background-color: rgb(22 22 24/90%);
            color: #fff !important;
        }
    }
}