.site-header {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 260px;
    -webkit-box-shadow: var(--shadow-xs);
    box-shadow: var(--shadow-xs);
    background: var(--bg-base);
}

@media (max-width: 1199.98px) {
    .site-header {
        padding-left: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .site-header {
        padding-left: 220px;
    }
} 