.navbar {
    padding: 0;
}

.navbar-expand-lg>.container-fluid {
    height: 75px;
}


.navbar-brand {
    max-width: 200px;
    padding: 0;
    margin: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;

    img {
        max-height: 40px;
    }
}

@media (max-width: 767.98px) {
    .navbar-brand {
        max-width: 150px;

        img {
            max-height: 45px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand {
        max-width: 150px;

        img {
            max-height: 45px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-brand {
        max-width: 150px;

        img {
            max-height: 45px;
        }
    }
}

.navbar-site {
    li {
        position: relative;
        margin: 0 0 0 0.5rem;

        a {
            display: block;
            opacity: 0.6;
            -webkit-transition: all 0.25s ease-out 0s;
            transition: all 0.25s ease-out 0s;
            position: relative;
            font-size: 0.9375rem;
            padding: 1rem;

            &:hover {
                opacity: 1;
            }
        }
    }
}