name: Release

on:
  push:
    branches:
      - main
    tags:
      - "v*"
    paths-ignore:
      - 'LICENSE'
      - 'README.md'
      - '.gitignore'
      - '.docker/**'
      - '.devcontainer/**'

env:
  NODE_VERSION: "22.14.0"

permissions:
  contents: write
  discussions: write
  pull-requests: read

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      - name: Install npm dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Package
        run: zip -r ITEM.zip ./php/*
      
      - name: Build Changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          configuration: ".github/configuration.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{steps.changelog.outputs.changelog}}
          files: ITEM.zip
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
